body{
    min-width: 1024px;
}
/* head start */
.head{
    width: 68.75%;
    height: 132px;
    margin: auto;
    overflow: hidden;
}
.head .logo{
    width: 195px;
    height: 48px;
    margin-top: 44px;
    margin-left: 72px;
    /* font-size: 48px;
    text-align: center;
    line-height: 44px;
    color: #1f8fee; */
    float: left;
    /* font-family: "logo"; */
}
.head .logo img{
    width: 100%;
    height: 100%;
}
/* @font-face{
    font-family: "logo";
    src: url(../font/字魂35号-经典雅黑.ttf);
} */
.head .email{
    height: 16px;
    margin-top: 57px;
    float: right;
}
.head .email .icon{
    width: 20px;
    height: 16px;
    margin-left: 15px;
    margin-right: 10px;
    background: url(../img/head-email.png);
    background-size: 100% 100%;
    background-position: 0 0 ;
    color: #919191;
    float: left
}
.head .email .text{
    height: 16px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 16px;
    color: #8d8d8d;
    float: left;
}
.head .line{
    width: 1px;
    height: 16px;
    margin-top: 59px;
    background: #E4E4E4;
    float: right;
}
.head .phone{
    height: 19px;
    margin-top: 55px;
    margin-right: 14px;
    float: right;
}
.head .phone .icon{
    width: 16px;
    height: 19px;
    margin-right: 7px;
    background: url(../img/head-phone.png);
    background-size: 100% 100%;
    color: #919191;
    float: left
}
.head .phone .text{
    height: 19px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 19px;
    color: #8d8d8d;
    float: left;
}

/* nav start */
.nav{
    width: 100%;
    height: 80px;
    background: #ffffff;
}
.nav .nav-box{
    width: 68.75%;
    height: 80px;
    margin: auto;
    padding: 15px 3.6% 0 2.4%;
    box-sizing: border-box;
}
.nav .nav-box .menu{
    width: 13%;
    height: 50px;
    border-right: 1px #EBEBEB solid;
    padding-top: 12px;
    box-sizing: border-box;
    font-size: 18px;
    letter-spacing: 1px;
    color: #333333;
    text-align: center;
    float: left;
}
.nav .nav-box .item{
    color: #1f8fee;
}
.nav .nav-box .search-box{
    width: 153px;
    height: 28px;
    margin-top: 13px;
    float: right;
    background: url(../img/serach.png);
}
.nav .nav-box .search-box .search{
    width: 108px;
    height: 28px;
    border-radius: 14px 0 0 14px;
    float: left;
    box-sizing: border-box;
}
.nav .nav-box .search-box .search input{
    width: 94px;
    height: 26px;
    border:none;
    outline: none;
    float: right;
    margin-top: 1px;
    line-height: 26px;
}

/* banner start */
.banner{
    width: 100%;
    height: 601px;
    margin-top: 6px;
    background: url(../img/pbanner.png) no-repeat;
    background-size: 100% 100%;
}

/* content start */
.content{
    width: 100%;
    height: 1580px;
    overflow: hidden;
    position: relative;
}
.content .img{
    width: 21%;
    height: 516px;
    position: absolute;
    left: 19%;
    top: 161px;
}
.content .img img{
    width: 100%;
    height: 100%;
}
.content .sign{
    position: absolute;
    right: 21%;
    top: 131px;
    font-size: 120px;
    color: #35a3ff;
}
.content .about-en{
    position: absolute;
    letter-spacing: 10px;
    right: 21%;
    top: 184px;
    font-size: 118px;
    line-height: 118px;
    color: #e9e9e9;
}
.content .about-cn{
    position: absolute;
    right: 21%;
    top: 269px;
    font-size: 57px;
    line-height: 57px;
    color: #000000;
    opacity: 0.8;
}
.content .more{
    position: absolute;
    right: 21%;
    top: 347px;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    opacity: 0.2;
}
.content .text{
    width: 38%;
    position: absolute;
    right: 21%;
    top: 400px;
    text-align: right;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    opacity: 0.8;
}
.content .title-en{
    height: 18px;
    position: absolute;
    top: 928px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 16px;
    color: #000;
    opacity: 0.3;
}
.content .title-cn{
    width: 12%;
    line-height: 27px;
    font-size: 27px;
    letter-spacing: 6px;
	color: #000000;
    opacity: 0.8;
    text-align: center;
    position: absolute;
    top: 960px;
    left: 0;
    right: 0;
    margin: auto;
}
.content .title-cn::before{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: 10px;
    background: #0b7cc3;
}
.content .title-cn::after{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: 10px;
    background: #0b7cc3;
}
.content .box{
    width: 100%;
    height: 277px;
    position: absolute;
    left: 0;
    bottom: 241px;
}
.content .box .item{
    width: 19%;
    height: 100%;
    margin-right: 1.25%;
    position: relative;
    float: left;
}
.content .box .item1{
    margin-right: 0;
}
.content .box .item img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

/* footer start */
.footer{
    width: 100%;
    height: 338px;
    background-color: #2d55a2;
    overflow: hidden;
}
.footer .overview{
    width: 68.75%;
    height: 263px;
    margin: auto;
    margin-top: 30px;
    box-sizing: border-box;
    overflow: hidden;
}
.footer .overview ul{
    float: left;
}
.footer .overview ul li{
    height: 13px;
    font-size: 12px;
    color: #ffffff;
    opacity: 0.5;
    margin-bottom: 18px;
}
.footer .overview ul .first{
    height: 13px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    opacity: 1;
}
.footer .overview .one{
    margin-right: 3.6%;
}
.footer .overview .two{
    margin-right: 6%;
}
.footer .overview .three{
    margin-right: 4.5%;
}
.footer .overview .four{
    margin-right: 5.5%;
}
.footer .overview .five{
    margin-right: 4.3%;
}
.footer .overview .wechat{
    width: 90px;
    height: 90px;
    margin: 79px 0.8% 0 0;
    float: right;
    position: relative;
}
.footer .overview .wechat img{
    width: 100%;
    height: 100%;
}
.footer .overview .wechat::after{
    content: "微信";
    height: 13px;
    position: absolute;
    left: 26px;
    bottom: -23px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    line-height: 13px; 
}
.footer .overview .buy{
    width: 90px;
    height: 90px;
    margin-top: 79px;
    margin-right: 4.2%;
    float: right;
    position: relative;
}
.footer .overview .buy img{
    width: 100%;
    height: 100%;
}
.footer .overview .buy::after{
    content: "采购网址";
    height: 13px;
    position: absolute;
    left: 27px;
    bottom: -23px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    line-height: 13px; 
}
.footer .copyright{
    height: 45px;
    background: #224382; 
    padding-top: 22px;
    box-sizing: border-box;
}
.footer .copyright .text{
    height: 16px;
    margin: auto;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    color: #ffffff;
    letter-spacing: 1px;
}