/* head start */
.head{
    width: 68.75%;
    height: 132px;
    margin: auto;
    overflow: hidden;
}
.head .logo{
    width: 195px;
    height: 48px;
    margin-top: 44px;
    margin-left: 72px;
    /* font-size: 48px;
    text-align: center;
    line-height: 44px;
    color: #1f8fee; */
    float: left;
    /* font-family: "logo"; */
}
.head .logo img{
    width: 100%;
    height: 100%;
}
/* @font-face{
    font-family: "logo";
    src: url(../font/字魂35号-经典雅黑.ttf);
} */
.head .email{
    height: 16px;
    margin-top: 57px;
    float: right;
}
.head .email .icon{
    width: 20px;
    height: 16px;
    margin-left: 15px;
    margin-right: 10px;
    background: url(../img/head-email.png);
    background-size: 100% 100%;
    background-position: 0 0 ;
    color: #919191;
    float: left
}
.head .email .text{
    height: 16px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 16px;
    color: #8d8d8d;
    float: left;
}
.head .line{
    width: 1px;
    height: 16px;
    margin-top: 59px;
    background: #E4E4E4;
    float: right;
}
.head .phone{
    height: 19px;
    margin-top: 55px;
    margin-right: 14px;
    float: right;
}
.head .phone .icon{
    width: 16px;
    height: 19px;
    margin-right: 7px;
    background: url(../img/head-phone.png);
    background-size: 100% 100%;
    color: #919191;
    float: left
}
.head .phone .text{
    height: 19px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 19px;
    color: #8d8d8d;
    float: left;
}

/* nav start */
.nav{
    width: 100%;
    height: 80px;
    background: #ffffff;
}
.nav .nav-box{
    width: 68.75%;
    height: 80px;
    margin: auto;
    padding: 15px 3.6% 0 2.4%;
    box-sizing: border-box;
}
.nav .nav-box .menu{
    width: 13%;
    height: 50px;
    border-right: 1px #EBEBEB solid;
    padding-top: 12px;
    box-sizing: border-box;
    font-size: 18px;
    letter-spacing: 1px;
    color: #333333;
    text-align: center;
    float: left;
}
.nav .nav-box .item{
    color: #1f8fee;
}
.nav .nav-box .search-box{
    width: 153px;
    height: 28px;
    margin-top: 13px;
    float: right;
    background: url(../img/serach.png);
}
.nav .nav-box .search-box .search{
    width: 108px;
    height: 28px;
    border-radius: 14px 0 0 14px;
    float: left;
    box-sizing: border-box;
}
.nav .nav-box .search-box .search input{
    width: 94px;
    height: 26px;
    border:none;
    outline: none;
    float: right;
    margin-top: 1px;
    line-height: 26px;
}

/* banner start */
.banner{
    width: 100%;
    height: 601px;
    margin-top: 6px;
}
.banner img{
    width: 100%;
    height: 100%;
}

/* production start */
.production .title{
    height: 89px;
    margin: 78px auto 61px;
}
.production .title .en{
    height: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    color: #4a8fe3;
    margin-bottom: 20px;
}
.production .title .cn{
    height: 15px;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    color: #000000;
    opacity: 0.65;
    margin-bottom: 22px;
}
.production .title .line{
    width: 53px;
    height: 3px;
    margin: auto;
    background: #4a8fe3;
}
.production .content{
    width: 65.3%;
    margin: auto;
    margin-top: 56px;
    margin-bottom: 46px;
    overflow: hidden;
}
.production .content .item{
    width: 11%;
    /* height: 149px; */
    float: left;
    margin-right: 6.8%;
    margin-bottom: 66px;
}
.production .content .item1{
    margin-right: 0;
}
.production .content .item .icon{
    width: 100%;
    /* height: 70%; */
    /* border-radius: 50%;
    background-color: #ffffff;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.27);
    box-sizing: border-box; */
    position: relative;
    margin-bottom: 23px;
}
.production .content .item img{
    width: 100%;
    /* position: absolute;
    left: 33%;
    top: 33%; */
}
.production .content .item .text{
    width: 100%;
    font-size: 18px;
    line-height:21px;
    text-align: center;
    color: #3f3f3f;
}

/* case start */
.case{
    width: 100%;
    background: url(../img/casebg.png);
    background-size: 100% 100%;
    overflow: hidden;
    padding-bottom: 48px;
}
.case .title{
    height: 89px;
    margin: 45px auto 61px;
}
.case .title .en{
    height: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 19px;
}
.case .title .cn{
    height: 15px;
    font-size: 16px;
    text-align: center;
    line-height: 16px;
    color: #ffffff;
    opacity: 0.65;
    margin-bottom: 22px;
}
.case .title .line{
    width: 53px;
    height: 3px;
    margin: auto;
    background: #ffffff;
}
.case .content{
    width: 67.7%;
    margin: auto;
    margin-top: 48px;
    overflow: hidden;
}
.case .content .box{
    width: 23%;
    height: 390px;
    float: left;
    background: #ffffff;
    margin-right: 2.6%;
    margin-bottom: 44px;
}
.case .content .box1{
    margin-right: 0;
}
.case .content .box img{
    width: 100%;
    height: 130px;
}
.case .content .box .subject{
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    letter-spacing: 1px;
    margin-top: 19px;
    margin-bottom: 18px;
}
.case .content .box .line{
    width: 30px;
    height: 2px;
    margin: auto;
    margin-bottom: 28px;
    background: #000;
}
.case .content .box .recommend{
    margin-left: 25px;
    margin-right: 29px;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    color: #4d4d44;
}
.case .content .first{
    background: #2365d3;
}
.case .content .first .subject{
    color: #ffffff;
}
.case .content .first .line{
    background: #ffffff;
}
.case .content .first .recommend{
    color: #ffffff;
}

/* fine start */
.fine .title{
    height: 92px;
    margin: 78px auto 64px;
}
.fine .title .en{
    height: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    color: #4a8fe3;
    margin-bottom: 20px;
    font-weight: bold;
}
.fine .title .cn{
    height: 15px;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    color: #000000;
    opacity: 0.65;
    margin-bottom: 24px;
}
.fine .title .line{
    width: 53px;
    height: 3px;
    margin: auto;
    background:#4a8fe3;
}
.fine .example{
    width: 65.1%;
    height: 726px;
    margin: auto;
    margin-bottom: 152px;
    box-shadow: 0px 0px 8px 0px rgba(206, 206, 206, 0.75);
    background: #ffffff;
}
.fine .example .first{
    width: 24%;
    height: 636px;
    margin: 41px 2.8% 0 4.64%;
    float: left;
}
.fine .example .first img{
    width: 100%;
    height: 534px;
    margin-bottom: 26px;
}
.fine .example .first .subject{
    width: 100%;
    text-align: center;
    line-height: 16px;
    font-size: 16px;
    color: #000000;
}
.fine .example .first .line{
    width: 100%;
    height: 1px;
    background: #CCCCCC;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 13px;
}
.fine .example .first .text{
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 17px;
    font-size: 14px;
    color: #646464;
}
.fine .example .item{
    width: 18%;
    height: 301px;
    margin-top: 41px;
    margin-right: 4.8%;
    float: left;
}
.fine .example .item img{
    width: 100%;
    height: 204px;
    margin-bottom: 21px;
}
.fine .example .item .subject{
    width: 100%;
    text-align: center;
    line-height: 16px;
    font-size: 16px;
    color: #000000;
}
.fine .example .item .line{
    width: 100%;
    height: 1px;
    background: #CCCCCC;
    margin: auto;
    margin-top: 13px;
    margin-bottom: 12px;
}
.fine .example .item .text{
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 17px;
    font-size: 14px;
    color: #646464;
}

/* footer start */
.footer{
    width: 100%;
    height: 338px;
    background-color: #2d55a2;
    overflow: hidden;
}
.footer .overview{
    width: 68.75%;
    height: 263px;
    margin: auto;
    margin-top: 30px;
    box-sizing: border-box;
    overflow: hidden;
}
.footer .overview ul{
    float: left;
}
.footer .overview ul li{
    height: 13px;
    font-size: 12px;
    color: #ffffff;
    opacity: 0.5;
    margin-bottom: 18px;
}
.footer .overview ul .first{
    height: 13px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    opacity: 1;
}
.footer .overview .one{
    margin-right: 3.6%;
}
.footer .overview .two{
    margin-right: 6%;
}
.footer .overview .three{
    margin-right: 4.5%;
}
.footer .overview .four{
    margin-right: 5.5%;
}
.footer .overview .five{
    margin-right: 4.3%;
}
.footer .overview .wechat{
    width: 90px;
    height: 90px;
    margin: 79px 0.8% 0 0;
    float: right;
    position: relative;
}
.footer .overview .wechat img{
    width: 100%;
    height: 100%;
}
.footer .overview .wechat::after{
    content: "微信";
    height: 13px;
    position: absolute;
    left: 26px;
    bottom: -23px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    line-height: 13px; 
}
.footer .overview .buy{
    width: 90px;
    height: 90px;
    margin-top: 79px;
    margin-right: 4.2%;
    float: right;
    position: relative;
}
.footer .overview .buy img{
    width: 100%;
    height: 100%;
}
.footer .overview .buy::after{
    content: "采购网址";
    height: 13px;
    position: absolute;
    left: 27px;
    bottom: -23px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    line-height: 13px; 
}
.footer .copyright{
    height: 45px;
    background: #224382; 
    padding-top: 22px;
    box-sizing: border-box;
}
.footer .copyright .text{
    height: 16px;
    margin: auto;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    color: #ffffff;
    letter-spacing: 1px;
}