.list{
    width: 100%;
}
.list li{
    width: 100%;
    height: 2.33rem;
    padding: 0.47rem 0.38rem 0.46rem 0.42rem;
    box-sizing: border-box;
    border-top: thistle 1px solid;
    border-bottom: thistle 1px solid;
}
.list li>div:first-child{
    width: 0.23rem;
    height: 0.23rem;
    border-radius: 50%;
    border:yellow 1px solid;
    margin-top:0.58rem;
    margin-right: 0.2rem;
    padding: 0.03rem;
    box-sizing: border-box;
    float: left;
}
.list li>div:first-child>div{
    width: 100%;
    height: 100%;
    background: yellow;
    border-radius: 50%;
    margin-top: 0rem;
    margin-right: 0rem;
}
.list li img{
    width: 1.99rem;
    height: 100%;
    float: left;
}
.list li div:nth-child(3){
    width: 1.47rem;
    height: 100%;
    float: left;
    margin-left: 0.18rem;
}
.list li div:nth-child(3) p{
    margin: 0.09rem 0;
    font-size: 0.18rem;
}
.list li div:nth-child(3) p:first-child{
   width: 150%;
}
.list li div:nth-child(3) p:nth-child(2),.list li div:nth-child(3) p:nth-child(4) span:first-child{
    font-size: 0.24rem;
}
.list li div:nth-child(4){
    width: 1.66rem;
    height:0.39rem;
    float: right;
    margin-top: 0.52rem;
    text-align: center;
    font-size: 0.24rem;
    line-height: 0.39rem;
}
.list li div:nth-child(4) div{
    width: 0.38rem;
    height: 0.38rem;
    border: thistle 1px solid;
    float: left;
    font-size: 0.3rem;
}
.list li div:nth-child(4) div:last-child{
    float: right;
}
.title{
    width: 1.23rem;
    height: 0.3rem;
    margin: 0.69rem auto 0.45rem 0.36rem;
    font-size: 0.3rem;
    position: relative;
}
.title::before{
    width: 00.03rem;
    height: 0.21rem;
    background: #ffcb3f;
    content: '';
    position: absolute;
    top: 0.1rem;
    left:-0.1rem;
}
.content{
    width: 100%;
    padding: 0.37rem;
    box-sizing: border-box;
}
.content>div{
    width: 3rem;
    height: 5.11rem;
    margin-right: 0.24rem;
    float: left;
    background: #ffffff;
}
.content>div:nth-child(2n){
    margin-right: 0;
}
.content>div img:first-child{
    width: 100%;
}
.content>div p:nth-child(2)::before{
    width: 0.21rem;
    height: 0.01rem;
    content: '';
    background: #000000;
    position: absolute;
    left: 0.03rem;
    top: -0.09rem;
}
.content>div p:nth-child(2){
    font-size: 0.18rem;
    color: #000;
    margin: 0.09rem auto 0.1rem;
    position: relative;
    margin-left: 0.18rem;
}
.content>div p:nth-child(3){
    font-size: 0.24rem;
    color: #000;
    margin-top: 0.1rem;
    margin-left: 0.18rem;
}
.content>div div{
    width:100%;
    height:0.43rem;
    margin-top: 0.79rem;
    text-align: center;
    line-height: 0.43rem;
}
.content>div div span{
    width: 0.79rem;
    height: 0.21rem;
    color: #000;
    font-size: 0.26rem;
}
.content>div div span:nth-child(2){
    font-size: 0.18rem;
}
.content>div div input{
    width: 1.52rem;
    height: 0.43rem;
    margin-right: 0.23rem;
    float: right;
    background: #ffcb3f;
    color: #ffffff;
    border-radius: 0.04rem;
    text-align: center;
    line-height: 0.43rem;
    font-size: 0.22rem;
    border: none;
    outline: none;
}
.content>div img:last-child{
    width: 0.45rem;
    height: 0.55rem;
    position: absolute;
    left: 0.4rem;
    top: 2.3rem;
}
.x{
    width: 100%;
    border-top: thistle 1px solid;
    border-bottom: thistle 1px solid;
    position: fixed;
    left: 0;
    bottom: 0.97rem;
    background: #ffffff;
}
.x>div:first-child{
    width: 0.23rem;
    height: 0.23rem;
    border-radius: 50%;
    border:yellow 1px solid;
    margin: 0.34rem 0.31rem 0.33rem 0.42rem;
    padding: 0.03rem;
    box-sizing: border-box;
    float: left;
}
.x>div:nth-child(2){
    width: 0.5rem;
    height: 0.24rem;
    margin: 0.33rem 0.27rem;
    font-size: 0.24rem;
    float: left;
}
.x>div:nth-child(3){
    width: 1.88rem;
    height: 0.24rem;
    font-size: 0.24rem;
    float: left;
    margin-top: 0.22rem;
}
.x>div:nth-child(3) p:last-child{
    font-size: 0.18rem;
}
.x>div:nth-child(3) p span:first-child{
    font-size: 0.26rem;
    color: #ffcb3f;
}
.x>div:nth-child(3) p span:last-child{
    font-size: 0.18rem;
}
.x>div:last-child{
    width: 2.12rem;
    height: 100%;
    font-size: 0.28rem;
    color: #ffffff;
    float: right;
    line-height: 0.89rem;
    background: #ffcb3f;
    text-align: center;
}