@charset "utf-8";
/* CSS Document */
html{
    font-size: calc(100vw / 1600 * 100);
}
body{
	font-size: 16px;
	margin: 0;
	padding: 0;
	background:url("../images/u=318671592,655222009&fm=16&gp=0.gif") no-repeat;
	background-size: cover;
}
main{
	width: 100%;
	height: auto;
	overflow: hidden;
}
main ul{
	width: 5rem;
	height: auto;
	margin:1rem auto;
	margin-bottom: 8rem;
}
main ul li{
	height: 1rem;
	background:black;
	opacity: 0.6;
	margin-top: 0.5rem;
	list-style: none;
	border-radius: 0.2rem;
}
main ul li:hover{
	border: #4BC6CA 0.02rem solid;
}
main ul label{
	display: block;
	font-size: 0.25rem;
	color:#0754b1;
	margin-top: 1.5rem;
	margin-left: -0.3rem;
}
main ul li a{
	text-decoration: none;
	display: block;
	width: 5rem;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	font-size: 0.3rem;
	color: #e4ecec;
}
a:hover{
	color:#2e55d6;
	font-size: 0.3rem;
}