@charset "utf-8";
/* CSS Document */
html{
    font-size: calc(100vw / 1600 * 100);
}
body{
	background: #BDB1A3 ;
	font-size: 16px;
}
main{
	background-size: cover;
	width: 100%;
	height: auto;
	overflow: hidden;
}
main ul{
	width: 5rem;
	height: auto;
	margin:3rem auto;
}
main ul li{
	height: 1rem;
	background:black;
	opacity: 0.6;
	margin-top: 2rem;
	list-style: none;
	border-radius: 0.2rem;
}

main ul li:hover{
	border: #4BC6CA 0.02rem solid;
}
main ul li a{
	text-decoration: none;
	display: block;
	width: 5rem;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	font-size: 0.3rem;
	color: #e4ecec;
}
a:hover{
	color:#2e55d6;
	font-size: 0.3rem;
}