@charset "utf-8";
.A{
	width: 800px;
	height: 800px;
	background: #F5070B;
	overflow: hidden;
}
.B{
	width: 400px;
	height: 400px;
	background: #050505;		
    margin: 10px auto;
}
.C{width: 200px;
	height: 200px;
	background: #F4EBEB;
	margin-top: 10px;
	float: left;	
}
.D{width: 100px;
	height: 100px;
	background: #08D320;
	margin-top: 20px;
	clear: both

}
.E{width: 100px;
	height: 100px;
	background:#1406B7 ;
	position: absolute;
	left: 50px;
	top: 50px;
	margin-top: 100px;
}
.F{width: 30px;
	height: 30px;
	background: #9B0673;
	margin-top: 20px;
}
.d{
	width: 30px;
	height: 30px;
	background: #9B0673;
	margin-top:50px;

}
