@charset "utf-8";
/* CSS Document */
.hb{
	perspective: 500px;
}
.b{
	transform-style: preserve-3d;
	animation: xz 8s linear infinite;
}
.m{
	background: rgba(255,0,0,0.3);
	border: 1px solid red;
	font-size: 60px;
	text-align: center;
	width: 200px;
	height: 200px;
	line-height: 200px;
	position: absolute;
	left: 600px;
	top: 300px;
	
}
.q{
	transform:  translateZ(100px);
}
.h{
	transform:rotateX(180deg) translateZ(100px) rotateZ(180deg);
}
.z{
	transform: rotateY(-90deg)  translateZ(100px);
}
.y{
	transform: rotateY(90deg)  translateZ(100px) ;
}
.s{
	transform: rotateX(90deg)  translateZ(100px);
}
.x{
	transform: rotateX(-90deg)  translateZ(100px);
}
@keyframes xz{
	0%{transform: rotateY(0deg)scaleZ(0.5)}
	25%{transform: rotateY(90deg)scaleZ(2)}
	50%{transform: rotateY(180deg)scaleZ(0.5)}
	75%{transform: rotateY(270deg)scaleZ(2)}
	100%{transform:rotateY(360deg)scaleZ(0.5)}
}